<html>
    <head> 
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <title>{{ title }}</title> 
        <meta name="author" content="Jui-Shan Liang" /> 
        <link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui-1.7.1.custom.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script> 
        <script src="jennydrawcards.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}googleanalytics.js" type="text/javascript"></script>
    </head> 

    <body>
        <!-- Required for FB JavaScript SDK -->
        <div id="fb-root"></div>
        <div>
            <!-- FB Login Button START -->
            <div style="float: right; clear: right; width: 200px; text-align: right;">
                <fb:login-button show-faces="true" width="200" max-rows="1" scope="{{ FACEBOOK_APP_SCOPE }}"></fb:login-button>
            </div>
            <!-- FB Login Button END -->
            <div style="float: right; margin: 0.5em;">
                使用圖片：<a href="http://en.wikipedia.org/wiki/Rider-Waite_tarot_deck" target="_blank">萊德‧偉特塔羅牌</a>
                程式：jsliang (jsliang.tw [at] gmail.com)
                初版完成日期：2009年
            </div>
            <h1>{{ title }}</h1>
            <!-- FB Like Button START -->
            <fb:like href="http://jcards.twbbs.org/" send="true" width="450" show_faces="false" font=""></fb:like>
            <!-- FB Like Button END -->
            <h2>1. 決定占卜方式</h2>
            <div>
                使用哪些牌：
                <select id="mode" class='ui-state-default'>
                    <option value="3" selected="true">全部牌</option>
                    <option value="1">大秘儀</option>
                    <option value="2">小秘儀</option>
                </select>
                正逆位：
                <select id="canReverse" class='ui-state-default'>
                    <option value="true" selected="true">可逆位</option>
                    <option value="false">全正位</option>
                </select>
            </div>
            <h2>2. 想好所要占卜的問題後，按下洗牌鈕</h2>
            <div>
                <input type="button" id="shuffle" value="洗牌" class='ui-state-default' />
                <div id="deck"></div>
            </div>
            
            <h2>3. 設定牌陣</h2>
            <p>按下「加牌」鈕新增牌的位置，牌的位置可視需求拖曳。牌陣設定好後，從上方洗好的牌中隨意挑選，將選到的牌拖曳至牌陣裡。抽牌完畢後再按下「翻牌」。</p>
            <div>
                <input type="button" id="addCard" value="加牌" class='ui-state-default' />
                <input type="button" id="turnCards" value="翻牌" class='ui-state-default' />
                <input type="button" id="redrawCards" value="重新抽牌" class='ui-state-default' />
                &nbsp;
                <input type="button" id="saveSpreadArea" value="儲存牌陣" class='ui-state-default' />
                <input type="button" id="resetSpreadArea" value="刪除牌陣" class='ui-state-default' />
                <div id="spreadArea"></div>
            </div>
            
            <div id="dialogTurnCardsResult" title="抽牌結果"></div>
            <div id="dialogRedrawCards" title="確定重新抽牌？"></div>
            <div id="dialogSaveSpreadArea" title="儲存牌陣">
                牌陣名稱：<input type="text" id="spreadName" />
            </div>
            <div id="dialogResetSpreadArea" title="確定刪除牌陣？"></div>
        </div>
        <!-- prototype for draggable -->
        <div id="cardProto" class="draggable ui-widget-content"></div>

        <!-- prototype for droppable -->
        <div id="cardPosition" class="droppable ui-widget-header" title="雙擊以設定這個位置的意義"></div>

        <!-- Async loading FB JavaScript SDK -->
        <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId:'{{ FACEBOOK_APP_ID }}',
                cookie:true, 
                status:true,
                xfbml:true 
            });
        };
        (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/zh_TW/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
        </script>
    </body> 
     
</html>

